

<div class="row">
  <div class="col-md-offset-4 col-md-4 users-container">
    <h2 class="question-new">質問作成</h2>
    <%= form_with model:@question do |f| %>
      <div class=" form-group">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder:'タイトルを10文字以内で入力してください。', class: 'form-control' %>
      </div>
      <div class=" form-group">
        <%= f.label :content %>
        <%= f.text_area :content,placeholder: '内容を入力してください。', class: 'form-control' %>
      </div>
      <div class="question-submit"><%= f.submit '質問する', class: 'btn-block btn-white' %></div>
    <% end %>
  </div>
</div>
