

<div class="row">
  <div class="col-md-12">
    <h2><%= @question.title %></h2>
    <div>
      <p>内容</p>
      <%= @question.content %>
    </div>
    <hr>
    <table class="table table-striped">
      <% if @question.answers.any? %>
        <thead class="thead-light">
          <tr>
            <td>返信内容</td>
          </tr>
        </thead>
        <tbody>
          <% @question.answers.each do |answer| %>
            <tr>
              <td><%= answer.content %></td>
            </tr>
          <% end %>
        </tbody>
      <% else %>
        まだ回答がありません。
      <% end %>
    </table>

    <% if current_user.admin? %>
      <h3>質問返信</h3>
      <%= form_with model: [@question,@answer], local: true do |f| %>
        <%= f.hidden_field :question_id, {value: @question.id} %>
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class:"form-control" %>
        </div>
        <%= f.submit "Post",class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
</div>
