
<% provide(:title, 'ログイン') %>

<div class="sessions-new-wrapper">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 sessions-new-container">
      <h1 class="h1">ログイン</h1>
      <%= form_with scope: :session, local:true do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <%= f.submit 'ログイン', class: 'btn-block btn-white' %>
      <% end %>
    </div>
  </div>
</div>
