
<% provide(:title, 'ログイン') %>

<div class="sessions-new-wrapper">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 sessions-new-container">
      <h1 class="h1">ログイン</h1>
      <%= form_with scope: :session, local:true do |f| %>
        <div class="form-group">
          <i class="fas fa-envelope"></i>
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, placeholder: 'メールアドレスを入力してください。', class: 'form-control' %>
        </div>
        <div class="form-group">
          <i class="fas fa-key"></i>
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, placeholder:'パスワードを入力してください。',class: 'form-control' %>
        </div>
        <div class="session-submit"><%= f.submit 'ログイン', class: 'btn-block btn-white' %></div>
      <% end %>
    </div>
  </div>
</div>
