

<div class="row">
  <div class="col-md-offset-4 col-md-4">
  <h2>個別トーク作成</h2>
  <%= form_with model:@talk, local:true do |f| %>
    <%= f.hidden_field :myself_id , value: @talk.myself_id %>
    <%= f.hidden_field :partner_id , value: @talk.partner_id %>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <%= f.submit '投稿' %>
  <% end %>
  </div>
</div>
