

<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-3">
      <% if current_user != user %>
        <% if user.followed_by?(current_user) %>
          <div class="follow-form-image">
            <%= link_to user_path(user) do %>
              <%= image_tag user.image.url %>
            <% end %>
          </div>
          <div class="follow-form-name">
            <%= link_to user.name, user_path(user) %>
          </div>
          <p class="follow-form-unfollow">
            <%=link_to "フォロー解除", user_relationships_path(user.id), method: :delete %>
          </p>
        <% else %>
          <div class="follow-form-image"><%= image_tag user.image.url %></div>
          <div class="follow-form-name"><%= user.name %></div>
          <p class="follow-form-follow">
            <%=link_to "フォロー", user_relationships_path(user.id), method: :post %>
          </p>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= paginate @users %>
</div>
