

<div class="user-show">
  <h1>ユーザー詳細</h1>
  <span class="user-show-image">
    <%= image_tag @user.image.url %>
  </span>

  <span class="user-show-follow">
    <span class="show-folloing"><%=link_to "フォロー", follows_user_path(@user.id) %></span>
    <span class="show-follower"><%=link_to "フォロワー", followers_user_path(@user.id) %></span>
    <% if current_user != @user %>
        <% if @user.followed_by?(current_user) %>
            <p><%=link_to "フォロー済み", user_relationships_path(@user.id), method: :delete %></p>
        <% else %>
            <p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
        <% end %>
    <% end %>
  </span>

    <table class="table table-hover">
      <tbody>
        <tr>
          <th><%= User.human_attribute_name(:name) %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:age) %></th>
          <td><%= @user.age %>
            <% if @user.age.present? %>
              (歳)
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:gender) %></th>
          <td><%= @user.gender %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:residence) %></th>
          <td><%= @user.residence %></td>
        </tr>
      </tbody>
    </table>

    <% if @user.description.present? %>
    <hr>
    <div class="user-show-description">
      <p class="show-description-title"><%= User.human_attribute_name(:description) %></p>
      <p><%= @user.description %></p>
    </div>
    <hr>
    <% end %>
  </div>
</div>
