

<% provide(:title, 'ユーザー詳細') %>


<div class="user-show">
  <div id="follow-event">
    <p><%= @user.name %>さんをフォローしました。</p>
  </div>
  <h1>ユーザー詳細</h1>
  <div class="user-image-follow">
    <span class="user-show-image">
      <%= image_tag @user.image.url %>
    </span>
    <div class="user-show-follow">
      <!-- ログインしているのが現在のユーザーならフォロー、フォロワーボタン表示-->
      <% if current_user?(@user) %>
        <span class="show-folloing"><%=link_to "フォロー", follows_user_path(@user.id) %></span>
        <span class="show-follower"><%=link_to "フォロワー", followers_user_path(@user.id) %></span>
      <% end %>
      <!--自分以外に場合フォローフォロワーボタン表示(自分をフォローしないようにする)-->
      <% if !current_user?(@user) %>
        <% if @user.followed_by?(current_user) %>
          <span class="show-unfollow">
            <%= link_to "フォロー解除", user_relationships_path(@user.id), method: :delete %>
          </span>
        <% else %>
          <span class="show-follow">
            <%= link_to "フォローする", user_relationships_path(@user.id), method: :post %>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>

    <table class="table table-hover">
      <tbody>
        <tr>
          <th><%= User.human_attribute_name(:name) %></th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:age) %></th>
          <td><%= @user.age %>
            <% if @user.age.present? %>
              (歳)
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:gender) %></th>
          <td><%= @user.gender %></td>
        </tr>
        <tr>
          <th><%= User.human_attribute_name(:residence) %></th>
          <td><%= @user.residence %></td>
        </tr>
      </tbody>
    </table>

    <% if @user.description.present? %>
    <hr>
      <div class="user-show-description">
        <p class="show-description-title"><%= User.human_attribute_name(:description) %></p>
        <p><%= @user.description %></p>
      </div>
    <hr>
    <% end %>

    <!--　ログインしているユーザーが現在のユーザーなら表示-->
    <% if current_user?(@user) %>
      <p class="show-edit-link">
          <%= link_to 'ユーザー編集', edit_user_path(current_user) %>
      </p>
    <% end %>

  </div>
</div>
