

<% provide(:title, '使い方') %>

<div class="seniors-use">
  <h2>ここではシニアーズの使い方をご説明します。</h2>
  <div class="use_images">
    <h3>1. 新規登録</h3>
    <div class="user-new-screen">
      <%= image_tag "use1.jpg" %>
      <p>↑上記の新規登録ボタンを押します。</p>
      <%= image_tag "use2.jpg" %>
      <p>↑新規登録画面が出てきますので、名前を8文字以内、メールアドレスをxxx@gmail.com方式</p>
      <p>パスワードを半角文字、半角数字を1文字以上使って8文字以上20文字以内で入力し</p>
      <p>最後にパスワード確認フォームにもう一度パスワードを入力し、新規ユーザー登録ボタンを押してください。</p>
      <%= image_tag "use3.jpg" %>
      <p>↑登録が完了すると、ユーザー詳細ページに移ります。これで登録完了です。</p>
      <p>登録完了と同時にメールが送られるので登録が完了したかどうか不安な人は、メールを確認してください。</p>
    </div>

    <div class="user-login-screen">
      <h3>2. ログイン</h3>
      <p>初めての新規ユーザー登録時は自動でログインされますが、2回目以降自身でのログインが必要になります。</p>
      <%= image_tag "use4.jpg" %>
      <p>↑ログインボタンを押します。<p>
      <%= image_tag "use5.jpg" %>
      <p>↑ユーザー登録時に入力したメールアドレスとパスワードを入力し、ログインボタンを押します。</p>
      <%= image_tag "use6.jpg" %>
      <p>メールアドレス、パスワードが正しいければログイン成功です。<p>
      <p>ログイン2回目以降は上記のページに遷移します。</p>
    </div>

    <div class="user-index-screen">
      <h3>3. ユーザー一覧</h3>
      <p>ユーザー一覧ではシニアーずに登録した全てのユーザーが表示されます。</p>
      <%= image_tag "use7.jpg" %>
      <p>↑ユーザー名やユーザー画像をクリックするとそのユーザーの詳細情報を見ることができます。</p>
      <%= image_tag "use8.jpg" %>
      <p>↑ユーザー検索機能と言うものがあり、自分好みのユーザーを検索することができます。</p>
      <%= image_tag "use9.jpg" %>
      <p>↑上記は性別で検索しその性別に該当するユーザーが一覧表示されます。</p>
    </div>

    <div class="user-show-screen">
      <h3>4. ユーザー詳細</h3>
      <p>ユーザー詳細画面では自分の詳細や他のユーザーの詳細を確認することができます。</p>
      <%= image_tag "use10.jpg" %>
      <p>↑ユーザー詳細画面では自分の情報を編集することができます。編集するには編集ボタンを押します。</p>
      <%= image_tag "use11.jpg" %>
      <p>↑上記のようにユーザー編集をします。</p>
      <%= image_tag "use12.jpg" %>
      <p>↑そうすると詳細画面の情報が更新されます。</p>
      <p>フォロー・フォロワーボタンがありますが、この機能はシニアーずでとても大切な機能です。</p>
      <p>ユーザーは、相手をフォローすることができ、相手からフォローされます。相互フォローの関係</p>
      <p>になった場合、マッチング成立となります。(詳しくはマッチングユーザーで述べます。)</p>
      <%= image_tag "use13.jpg" %>
      <p>↑フォロー一覧では、自分のフォローしたユーザーが表示されます。</p>
      <p>フォロー解除ボタンでユーザのフォローを外すことができます。</p>
      <%= image_tag "use14.jpg" %>
      <p>↑フォロワー一覧では自分をフォローしたユーザーの一覧が表示されます。</p>
      <p>フォローボタンを押すとそのユーザーをフォローできます。</p>
    </div>

    <div class="matcher-screen">
      <h3>5. マッチングユーザー</h3>
      <%= image_tag "use15.jpg" %>
      <p>↑ここには相互フォロー(マッチングユーザー)のユーザーが表示されます。</p>
      <p>ユーザー佐藤さんの名前かアイコンを押します。</p>
      <%= image_tag "use16.jpg" %>
      <p>↑個別トークと言うページに飛び、あなたと佐藤さんだけの個別トークを楽しむことができます。</p>
    </div>
    <div class="post-screen">
      <h3>6. 掲示板</h3>
      <%= image_tag "use17.jpg" %>
      <p>↑掲示板では全てのユーザーとのトークを楽しむことができます。</p>
      <p>星マークをクリックするとそのユーザーの投稿がお気に入りリストに入ります。</p>
      <%= image_tag "use18.jpg" %>
      <p>↑あなたのお気に入りボタンを押すと、星をつけたユーザーの投稿をが表示されます。</p>
    </div>
    <div class="question-screen">
      <h3>質問</h3>
      <p>質問機能ではシニアーずについての質問やアプリの使い方などを質問することができます。</p>
      <%= image_tag "use19.jpg" %>
      <p>↑新しく質問するボタンから質問を作成できます。タイトルリンクを押すと、</p>
      <%= image_tag "use20.jpg" %>
      <p>↑質問詳細ページに遷移し、運営からの回答を確認することができます。</p>
    </div>
    <div class="logout-screen">
      <h3>8. ログアウト</h3>
      <%= image_tag "use21.jpg" %>
      <p>↑ログアウトボタンを押すとログイン前のページに遷移されます。</p>
    </div>
  </div>
</div>
