
<div class="post-list">
  <h2>掲示板投稿一覧</h2>
  <div class="new-post-link"><%= link_to '投稿する', new_post_path, class:'btn btn-primary' %></div>
  <% @posts.each do |post| %>
    <div class="post-content-top">
      <%= image_tag post.user.image.url %>
      <div class="content">
        <%= post.content %>
      </div>
       <!--いいねする-->
      <div class="iine">
        <% if !post.favorite_users.include?(current_user) %>
          <%= link_to favorites_path(post_id: post.id), method: :post do %>
            <i class="fas fa-heart gray-heart"></i>
          <% end %>
       <!-- 既にいいねしている場合-->
        <% else %>
          <%= link_to favorites_path(post_id: post.id), method: :delete do %>
            <i class="fas fa-heart red-heart"></i>
          <% end %>
        <% end %>
        <%= post.favorite_users.count %>
      </div>
    </div>
    <div class="post-user-name">
      <%=  post.user.name %>
      <span class="post-created_at">
        <%= post.created_at %>
      </span>
    </div>
  <% end %>
  <div class="post-index-paginate"><%= paginate @posts %></div>
</div>
